**UE20CS312 - Data Analytics - Worksheet 4a - Collaborative & Content Based Filtering**

*Reshmi Pradeep, Dept. of CSE - PES2UG20CS270*

#Loading DataSet and Adding Library

In [1]:
# Import pandas
import pandas as pd
# Use pandas read_csv function to load csv as DataFrame
df = pd.read_csv('./twitter_HOTD_DA_WORKSHEET4A.csv')
df

,author_id,tweet_id,text,retweet_count,reply_count,like_count,quote_count,tokens,hashtags
0,1576486223442583554,1577813753902555136,rt i would perform my duty if mother had only ...,327,0,0,0,"['perform', 'duty', 'mother', 'betrothed']","['houseofthedragon', 'aemondtargaryen', 'helae..."
1,732912167846973441,1577813747846254592,rt viserys look at me!! aemond #houseofthedragon,2164,0,0,0,"['viserys', 'look', 'aemond']",['houseofthedragon']
2,891426095928672257,1577813743794257920,rt house of the dragon is a show about a king ...,905,0,0,0,"['house', 'dragon', 'king', 'bunch', 'question...",[]
3,352012951,1577813724366249986,man just thinking of when viserys finally croa...,0,0,0,0,"['man', 'thinking', 'viserys', 'finally', 'cro...",['houseofthedragon']
4,1090278774925611008,1577813708818059264,rt jajaja. #houseofthedragon,29,0,0,0,['jajaja'],['houseofthedragon']
...,...,...,...,...,...,...,...,...,...
8056,2916627870,1570663468055040000,rt may i go on record that if matt smith looke...,166,0,0,0,"['record', 'matt', 'smith', 'looked', 'like', ...",[]
8057,2916627870,1570663455606312961,rt good morning to matt smith who is now respo...,125,0,0,0,"['good', 'morning', 'matt', 'smith', 'responsi...",[]
8058,2916627870,1570663389684453378,rt the entire world paused during this #houseo...,2485,0,0,0,"['entire', 'world', 'paused']",['houseofthedragon']
8059,212524158,1570663558563921922,days left #hotd,0,0,5,0,"['days', 'left']",['hotd']
8060,1497796183279996929,1570663337658298371,the #houseofthedragon cast is too small. due t...,0,1,3,0,"['cast', 'small', 'producers', 'afford', 'kill...","['houseofthedragon', 'gameofthrones.']"

#PROBLEM

##Problem 1 (4 points)

In [2]:
# Imports
import numpy as np 
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
# Convert string representation of a list into a list of strings
import ast
text = []
for r in df['tokens']:
    res = ast.literal_eval(r)
    if(' '.join(res).lower() == ''):
        print(r)
    text.append(' '.join(res).lower())
# Print the end result
text

In [19]:
tfidf = TfidfVectorizer()
sparse_mat = tfidf.fit_transform(text)
sparse_mat = tfidf.transform(text)
print("Samples: %d, Features: %d" % sparse_mat.shape)
print(sparse_mat[0])

Samples: 8061, Features: 10950
  (0, 7080)	0.5632689245894086
  (0, 6277)	0.3774828944719565
  (0, 3021)	0.47218947633853087
  (0, 1054)	0.5632689245894086

##Problem 2 (4 points)

In [20]:
from sklearn.metrics.pairwise import cosine_similarity
cos_vals = cosine_similarity(sparse_mat[7558], sparse_mat)
indices = np.argsort(cos_vals)
indices = indices[0][-6 : -1]
for i in range(0, 5):
 print(df.iloc[indices[i]][2])

rt don't play with them. they're here for business only. #houseofthedragon
mom said it's my turn on the valyrian lego set ( #houseofthedragon
rt daemon and rhaenyra are never letting this man live in peace ðŸ˜­ #houseofthedragon #houseofthedragonhbo
rt my man's literally just trying to build a lego set of valyria but has to deal with all this shit. #hotd #houseofthedra...
rt viserys just wanna build his lego set and mind his business . let that man live in peace #houseofthedragon

In [13]:
# Print out the tokens from index `7654`
print(text[7558])
# Print out the text from index `7654`
print(df.iloc[7558][2])

viserys wanna build lego set mind business let man live peace
rt viserys just wanna build his lego set and mind his business . let that man live in peace #houseofthedragon

##Problem 3 (2 points)